# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Django
db.sqlite3
*.log
media/

# Static files (collected)
staticfiles/images/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# PythonAnywhere
*.bak
*.swp